<%= form_for(@socio) do |f| %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control", :disabled => true %>
    <%= f.label "Este é seu Email?" %><br>
  </div>
  <div class="field">
    <%= f.label :senha %><br>
    <%= f.password_field :password , class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label :"confirmação senha"%><br>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary', value: 'Concluir'%> |
    <%= link_to 'Voltar', mensalidades_transa_path, class: 'btn btn-primary'%>
  </div>
<% end %>
