<p>

<div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Financeiro", "/home/index"  %></li>
            <li><%= link_to "Sócios", "/socios"  %></li>
            <li><%= link_to "Lançamentos", "/home/index"  %></li>
            <li><%= link_to "Logout", "#"  %></li>
          </ul>
        </div>
      </div>
</div>
<p>
<h1>Edição de Sócio</h1>

<%= render 'form' %>

<%= link_to 'Detalhe', @socio %> |
<%= link_to 'Voltar', socios_path %>
