<%= form_for(@transacao_saida) do |f| %>
  <% if @transacao_saida.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transacao_saida.errors.count, "error") %> prohibited this transacao_saida from being saved:</h2>

      <ul>
      <% @transacao_saida.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_saida %><br>
    <%= f.number_field :id_saida %>
  </div>
  <div class="field">
    <%= f.label :valor %><br>
    <%= f.text_field :valor %>
  </div>
  <div class="field">
    <%= f.label :data_de_saida %><br>
    <%= f.date_select :data_saida %>
  </div>
  <div class="field">
    <%= f.label :justificativa_de_saida %><br>
    <%= f.text_area :justifica_saida, size: "20x6"%>
  </div>
  <div class="field">
    <%= f.label :imagem_do_comprovante %><br>
    <%= f.file_field :img_comprov %>
  </div>
  <div class="field">
    <%= f.label :criado_em %><br>
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :modificado_em %><br>
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary', value: 'Concluir' %>
  </div>
<% end %>
