<ul class="nav nav-tabs">
  <li><a href="/transacao_entradas/new">Nova Transação Entrada</a></li>
  <li><a href="/transacao_entradas">Exibir Transações de Entrada</a></li>
  <li><a href="/transacao_saidas/new">Nova Transação Saida</a></li>
  <li  class="active"><a href="/transacao_saidas">Exibir Transações de Saida</a></li>
</ul><br>

<p>
  <strong>ID:</strong>
  <%= @transacao_saida.id_saida %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @transacao_saida.valor %>
</p>

<p>
  <strong>Data:</strong>
  <%= @transacao_saida.data_saida %>
</p>

<p>
  <strong>Justificativa:</strong>
  <%= @transacao_saida.justifica_saida %>
</p>

<p>
  <strong>Comprovante:</strong>
  <%= image_tag @transacao_saida.img_comprov.url(:thumb)%>
  <%= link_to "Exibir", @transacao_saida.img_comprov.url(:original, false) %>
</p>

<p>
  <strong>Criado em:</strong>
  <%= @transacao_saida.created_at %>
</p>

<p>
  <strong>Modificado em:</strong>
  <%= @transacao_saida.updated_at %>
</p>

<%= link_to 'Editar', edit_transacao_saida_path(@transacao_saida) %> |
<%= link_to 'Voltar', transacao_saidas_path %>
