<%= form_for(@transacao_entrada) do |f| %>
  <% if @transacao_entrada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transacao_entrada.errors.count, "error") %> prohibited this transacao_entrada from being saved:</h2>

      <ul>
      <% @transacao_entrada.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :valor %><br>
    <%= f.text_field :valor %>
  </div>
  <div class="field">
    <%= f.label :data_entrada %><br>
    <%= f.date_select :data_entrada %>
  </div>
  <div class="field">
    <%= f.label :justificativa_de_entrada %><br>
    <%= f.text_area :justifica_entrada, size: "20x6"%>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.select :tipo, ['Doação', 'Mensalidade', 'Outro']%>
  </div>
  <div class="field">
    <%= f.label :criado_em %><br>
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :modificado_em %><br>
    <%= f.datetime_select :updated_at%>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary', value: 'Concluir' %>
  </div>
<% end %>
